nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  width: 120px;
}
nav ul li {
  display: inline-block;
  margin: 5px 20px;
  font-size: 18px;
  color: white;
}
.dark-nav {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  transition: 0.5s;
}
.menu-icon {
  display: none;
}

@media (max-width: 1200px) {
  .container {
    padding-right: 5%;
    padding-left: 5%;
  }
}
@media (max-width: 1000px) {
  nav ul li {
    display: inline-block;
    margin: 5px 20px;
    font-size: 17px;
  }
  .logo {
    width: 100px;
  }
}

@media (min-width: 840px) {
  .menu-icon {
    display: none;
  }
}

@media (max-width: 840px) {
  nav {
    padding: 15px 0;
  }
  nav ul li {
    display: block;
    margin: 25px 40px;
    font-size: 20px;
  }
  nav ul {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    padding-top: 70px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    z-index: -1;
    transition: 0.5s;
    border-radius: 10px;
  }
  .menu-icon {
    display: inline;
    width: 30px;
    cursor: pointer;
  }
  .hide-menu {
    right: -250px;
  }
}
