@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body {
  background: linear-gradient(180deg, #050b12 0%, #020509 100%);
}
a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container {
  padding-right: 10%;
  padding-left: 10%;
}
.btn {
  background: #f5f5f5;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 50px;
  transition: transform 0.3s ease, border 0.3s ease;
}
.btn:hover {
  transform: translateY(-6px);
  border-color: rgba(231, 243, 7, 0.6);
}
.text {
  padding-top: 5%;
  padding-bottom: 5%;
}
.content {
  font-size: 16px;
}
